<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestTask" verbose="1" parallel="false" thread-count="3">

    <test name="Login">
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>
    <test name="Search">
        <classes>
            <class name="SearchTests"/>
        </classes>
    </test>
    <test name="HP Elements">
        <classes>
            <class name="HomepageElementsTests"/>
        </classes>
    </test>

</suite>